@use "../../../styles/colors" as *;

.container {
  margin-bottom: 50px;

  .banner-container {
    position: relative;

    .image-wrapper {
      height: 100vh;
      width: 100%;
      overflow: hidden;
      position: relative;
    }

    .banner-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.6);
    }

    .text-container {
      position: absolute;
      top: 50%;
      left: 70px;
      transform: translateY(-50%);
      color: $color-white;
      z-index: 1;

      .banner-title {
        font-size: 40px;
      }

      .banner-tag {
        font-size: 18px;
        margin-top: -10px;
      }

      .explore-button {
        margin-top: 20px;
        padding: 15px 40px;
        background-color: transparent;
        border: 2px solid $color-white;
        color: $color-white;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
      }

      .explore-button:hover {
        border: 2px solid $color-white;
        color: $color-dark;
        background-color: $color-white;
      }
    }
  }

  .category-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    .category-title {
      font-size: 32px;
    }

    .category-tags {
      display: flex;
      gap: 15px;

      .category-tag {
        cursor: pointer;
      }
    }
  }

  .blog-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .blog-title {
      font-size: 32px;
      font-weight: bold;
    }

    .blog-text {
      font-size: 18px;
    }

    .blog-cards {
      // max-width: 300px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40px;
      justify-content: center;

      .blog-card {
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

        .blog-details {
          padding: 0 20px;
        }

        .banner-image {
          width: 100%;
          height: 300px;
          border-radius: 5px 5px 0 0;
          object-fit: cover;
        }

        .blog-icon {
          width: 22px;
          height: 22px;
          animation: floatAnimation 1s infinite alternate;
        }

        h3,
        p {
          margin-top: 0;
          padding: 0;
        }

        .read-more-button {
          background-color: transparent;
          color: $color-dark-light;
          cursor: pointer;
          padding-bottom: 10px;
        }

        .read-more-button::after {
          content: " ↗";
        }
      }
    }
  }
}

@keyframes floatAnimation {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(20px);
  }
}
