<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        margin: 5% 10%;
        background-color: #f0f0f0;
        color: #333;
        font-family: "Arial", sans-serif;
      }

      .verify-container {
        background-color: #e9f1ff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        transition: box-shadow 0.3s ease;
      }

      .message-heading {
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: bold;
      }

      .message-body {
        font-size: 1rem;
        font-weight: normal;
      }

      .verify-button {
        width: 100px;
        height: 20px;
        background-color: #dce9ff;
        padding: 10px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        border: none;
        transition: background-color 0.3s ease, transform 0.2s ease;
      }

      .verify-button:hover {
        background-color: #d5e4ff;
        transform: scale(1.05);
        color: #fff;
        text-decoration: none;
        cursor: pointer;
      }

      a {
        text-decoration: none;
        color: #fff;
        text-align: center;
      }

      .message-footer {
        font-size: 1rem;
      }
    </style>
  </head>

  <body>
    <div class="verify-container">
      <div class="message-content">
        <p class="message-heading">Dear <%=name%>,</p>
        <p class="message-body">
          Please verify your email address by clicking the button below:
        </p>
        <div class="verify-button">
          <a href="<%=emailVerificationURL%>"> Verify Email </a>
        </div>
        <p class="message-footer">Happy digging in!</p>
      </div>
    </div>
  </body>
</html>
