@use "../../../styles/colors" as *;

.slider {
  width: 100%;
  height: 5px;
  background-color: $color-content-border;
}
.slider .thumb {
  position: absolute;
  top: -7px;
  width: 30px;
  height: 20px;
  border-radius:5px;
  background-color: $color-activate;
  color: $color-white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.track-1 {
  background-color: $color-activate;
  height: 5px;
  border-radius: 5px;
}

