@use "../styles/colors" as *;

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.category-body {
  display: flex;
  padding: 20px;
  gap: 10px;
  position: relative;
}

.item-body {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  min-height: 165vh;
}

.item-wrapper {
  margin-top: 70px;
  display: flex;
  padding: 20px;
  gap: 10px;
}

.no-items {
  margin-left: 10px;
}
