@use "../../../styles/colors" as *;

.single-item-container {
  margin: 110px 80px 10px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;

  .single-item-banner-details {
    display: flex;
    align-items: center;
    gap: 40px;

    .single-item-banner {
      border-radius: 5px;
      object-fit: cover;
      width: 450px;
      height: 350px;
    }

    .single-item-details {
      display: flex;
      flex-direction: column;
      position: absolute;
      width: 50%;
      top: 38%;
      left: 70%;
      transform: translate(-50%, -50%);

      .price-and-quantity {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 70px;

        .add-to-cart {
          border: 2px solid $color-activate;
          border-radius: 5px;
          padding: 2px 10px;
          cursor: pointer;

          .save-quantity-button {
            cursor: pointer;
            align-self: center;
            border: none;
            outline: none;
            background-color: transparent;
          }
        }

        .quantity-increment {
          display: flex;
          gap: 15px;

          .quantity {
            font-size: 18px;
          }

          .quantity-button {
            cursor: pointer;
            align-self: center;
            border: none;
            outline: none;
            background-color: $color-activate;
            padding: 5px 10px;
            color: $color-white;
            font-size: 16px;
            border-radius: 2px;

            &:hover {
              transform: scale(1.1);
            }
          }
        }

        .single-item-price {
          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }

  .single-item-images {
    // margin-top: -20px;
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin-left: 70px;

    .slider {
      width: 400px;
      // margin-bottom: 0;

      .single-item-image {
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }
    }
  }

  // .single-item-images-cart {
  //   display: flex;
  //   justify-content: space-between;
  //   align-items: center;
  //   gap: 40px;
  // }

  // .single-item-image {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;

  //   .single-item-banner {
  //     border-radius: 5px;
  //     object-fit: cover;
  //   }
  //   .single-item-images {
  //     display: flex;
  //     gap: 15px;
  //     justify-content: center;
  //     align-items: center;
  //     width: 300px;

  //     .slider {
  //       width: 400px;

  //       .single-item-image {
  //         border-radius: 50%;
  //         object-fit: cover;
  //         cursor: pointer;
  //       }
  //     }
  //   }
  // }

  // .single-item-details {
  //   display: flex;
  //   flex-direction: column;

  //   .single-item-description {
  //     font-size: 15px;
  //     color: $color-dark;
  //     line-height: 20px;
  //   }

  //   .price-and-quantity {
  //     display: flex;
  //     justify-content: flex-start;
  //     align-items: center;
  //     gap: 70px;

  //     .add-to-cart {
  //       border: 2px solid $color-activate;
  //       border-radius: 30px;
  //       padding: 0 10px;
  //     }

  //     .quantity-increment {
  //       display: flex;
  //       gap: 15px;

  //       .quantity {
  //         font-size: 18px;
  //       }

  //       .quantity-button {
  //         cursor: pointer;
  //         align-self: center;
  //         border: none;
  //         outline: none;
  //         background-color: $color-activate;
  //         padding: 5px 10px;
  //         color: $color-white;
  //         font-size: 16px;
  //         border-radius: 2px;

  //         &:hover {
  //           transform: scale(1.1);
  //         }
  //       }
  //     }

  //     .single-item-price {
  //       font-weight: bold;
  //       font-size: 20px;
  //     }
  //   }
  // }
}
