@use "../../../styles/colors" as *;

// .items-page {
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   .items-filter {
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
//   }

  .items-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;

    .search-and-sort {
      display: flex;
      gap: 10px;

      .searchbar {
        display: flex;
        align-items: center;
        min-width: 100%;
      }
    }

    .items-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 30px;
      column-gap: 30px;
      padding: 20px;
      align-items: center;
      justify-items: center;

      .item-card {
        width: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
          rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 5px;
        cursor: pointer;

        .item-details {
          padding: 0 20px;

          .item-description {
            font-size: 14px;
            color: $color-dark;
          }

          .item-price {
            font-weight: bold;
            font-size: 14px;
          }
        }

        .item-banner {
          width: 100%;
          height: 250px;
          border-radius: 5px 5px 0 0;
          object-fit: cover;
        }
      }
    }
  }
// }
