@use "../../../styles/colors" as *;

.footer-container {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  align-items: end;
  justify-items: end;
  padding: 10px;
  background-color: $color-dark;
  color: $color-white;
  bottom: 0;
  left: 0;

  .footer-columns {
    .footer-text-heading {
      font-size: 18px;
      font-weight: bold;
    }

    .footer-text {
      font-size: 14px;
    }
  }
}
