@use "../../../styles/colors" as *;

.filter-container {
    max-height: 100vh;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    padding: 20px 250px 150px 20px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;

    .filter-text {
        display: flex;
        flex-wrap: wrap;
    }
}