@use "../../../styles/colors" as *;

.profile-container {
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
  //   rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 70vw;
  // min-height: 400px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // margin-left: 200px;
  // // padding: 20px;
  // width: 957px;
  // width: 100%;
  margin-left: -25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: auto;
  min-height: 300px;
  margin-top: 30px;
  justify-content: space-between;

  .profile {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: center;

    p {
      margin: 0;
    }

    .profile-name-container {
      display: flex;
      gap: 3px;

      .profile-name {
        font-size: 24px;
        font-weight: bold;
      }

      .profile-verified-icon {
        color: $color-activate;
        font-size: 24px;
      }
    }

    .profile-role {
      color: $color-dark;
    }

    .profile-image {
      width: 180px;
      height: 180px;
      object-fit: contain;
    }
  }
}
