@use "../../../styles/colors" as *;

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-ul {
        display: flex;
        list-style: none;
        gap: 20px;

        .header-li {
            .header-link {
                text-decoration: none;
                color: $color-dark;
            }
        }
    }
}