@use "../../../styles/colors" as *;

.manage-items-container {
    width: 70vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  
    .manage-items-header {
      width: 100%;
      min-height: 70px;
      box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 20px;
  
      .manage-items-title {
        font-size: 24px;
        color: $color-dark;
      }
  
      .create-items-button {
        height: 40%;
        border: none;
        outline: none;
        border-radius: 10px;
        padding: 10px 15px;
        background-color: $color-activate;
        color: $color-white;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
  
        &:hover {
          background-color: $color-activate-hover;
        }
      }
    }
  
    .manage-items-body {
      width: 100%;
      max-height: 290px;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow-y: auto;
  
      .manage-items-card {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: $color-black-box-shadow-light;
        border-radius: 10px;
  
        .manage-items-image-title {
          display: flex;
          align-items: center;
          gap: 10px;
  
          .manage-items-image {
            height: 80px;
            width: 80px;
            border-radius: 50%;
            object-fit: cover;
            cursor: pointer;
            padding: 10px;
          }
        }
        .manage-items-button {
          display: flex;
          gap: 20px;
          margin-right: 40px;
          align-items: center;
  
          .edit-button {
            font-size: 22px;
            cursor: pointer;
            color: $color-activate;
          }
  
          .delete-button {
            font-size: 22px;
            cursor: pointer;
            color: $color-danger;
          }
        }
      }
    }
  }